*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgba(110, 153, 231, 0.585);
    overflow: hidden;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height:5vh;
    font-weight: bolder;
    width: auto;
    background-color: rgba(110, 152, 231, 0.184) ;
}

.content {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100vw;
}

.search-city{
    display: flex;
    flex-direction: column;
    height:90vh;
    overflow: hidden;
    width: 18%;
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.075);
    align-items: center;
}

.current{
    display:flex;
    flex-direction: column;
    height: 30vh;
    padding: 1vw;
}

.currents>p{
    font-size: 1.5rem;
}

.five-day{
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.five-day>h3{
    font-size: 3rem;
    font-weight: bold;
}

.days{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weather-container{
    display: flex;
    flex-direction: column;
    width: 79%;
    margin: 1%;
    margin-left: 0%;
}

.inputs{
    display: flex;
    align-items: center;
}

.inputs .city-input{
    width: 80%;
    height: 3rem;
    font-size: 2rem;
}

.inputs>button{
    width: 18%;
    height:3rem;
}

.city{
    display: flex;
    align-items: center;
    height: 5rem;
}

.city>h1{
    font-size: 4rem;
}

.card {
    background-color: rgba(135, 207, 235, 0.513)
}

.city-button{
    width:100%;
    background-color: rgba(128, 128, 128, 0);
    font-weight: bold;
    border: none;
}

.city-button:hover{
    font-size: 2.2rem
}

.past-cities{
    list-style: none;
    padding-left: 0;
    line-height: 3rem;
    font-size: 2rem;
    width:100%;
}

.hide{
    opacity:0;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(110, 152, 231, 0.184) ;
    height:5vh;
    align-items: center;
}

a{
    text-decoration: none;
    color:black;
}

.history{
    display:flex;
}

.close {
   background-color: rgba(255, 255, 255, 0);
   border: none;
   font-size: 3rem;
}

.close:hover{
    color:red
}